.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 40vw;
    height: auto;
    /* margin: 2vw; */
}

